HOST=127.0.0.1
PORT=8790
PUBLIC_BASE_URL=https://callbridge.example.com
CALL_BRIDGE_ENABLED=false
BITRIX24_WEBHOOK_URL=https://portal.bitrix24.ru/rest/user/token/
SKOROZVON_WEBHOOK_SECRET=replace-with-random-secret
MANAGER_ACTION_SECRET=replace-with-another-random-secret
ALLOWED_CALLER_IDS=79031112233,79032223344
LINE_MAP_JSON={"79031112233":"reg151083","79032223344":"reg151084"}
BITRIX_LEAD_STATUS_ID=NEW
BITRIX_MANAGER_ID=123
BITRIX_FIELD_CLIENT_PHONE=UF_CRM_SKZ_CLIENT_PHONE
BITRIX_FIELD_SUCCESS_CALLER_ID=UF_CRM_SKZ_SUCCESS_CALLER_ID
BITRIX_FIELD_SUCCESS_LINE_ID=UF_CRM_SKZ_SUCCESS_LINE_ID
BITRIX_FIELD_SKOROZVON_CALL_ID=UF_CRM_SKZ_CALL_ID
BITRIX_FIELD_ACTUALIZER=UF_CRM_SKZ_ACTUALIZER
BITRIX_FIELD_CALL_LINK=UF_CRM_SKZ_CALL_LINK
